<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mut -->
      <package
            uri="http://www.mutualite.fr/mut/1.0"
            class="fr.mutualite.rh.model.MutPackage"
            genModel="model/mut.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mut -->
      <package
            uri="http://www.mutualite.fr/mut/1.0/dto"
            class="fr.mutualite.rh.model.dto.DtoPackage"
            genModel="model/mut.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mut -->
      <package
            uri="http://www.mutualite.fr/mut/1.0/config"
            class="fr.mutualite.rh.model.config.ConfigPackage"
            genModel="model/mut.genmodel"/>
   </extension>

</plugin>
