<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated chequedej -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mutualite.rh.chequedej.presentation.ChequedejModelWizardID"
            name="%_UI_ChequedejModelWizard_label"
            class="mutualite.rh.chequedej.presentation.ChequedejModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ChequedejModelFile.gif">
         <description>%_UI_ChequedejModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated chequedej -->
      <editor
            id="mutualite.rh.chequedej.presentation.ChequedejEditorID"
            name="%_UI_ChequedejEditor_label"
            icon="icons/full/obj16/ChequedejModelFile.gif"
            extensions="chequedej"
            class="mutualite.rh.chequedej.presentation.ChequedejEditor"
            contributorClass="mutualite.rh.chequedej.presentation.ChequedejActionBarContributor">
      </editor>
   </extension>
   
   

   <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution1"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.NewCommandeAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.newCommandeAction"
               label="Préparer une nouvelle commande"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.Carnet">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.Commande">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution2"
            objectClass="mutualite.rh.chequedej.ChequeDej">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.InitNumerosAndSuccursalesAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.initNumerosSuccursalesAction"
               label="Initialiser les numéros et succursales"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="mutualite.rh.chequedej.ChequeDej">
               </objectClass>
               <objectClass
                     name="mutualite.rh.chequedej.Parametrage">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution3"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ExportFormCommandeAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.exportFormCommandeAction"
               label="Générer les formulaires de saisie"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="mutualite.rh.chequedej.Commande">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution4"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ImportFormCommandeAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.importFormCommandeAction"
               label="Importer des formulaires de saisie"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="mutualite.rh.chequedej.Commande">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution5"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ImportChoixAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.importChoixAction"
               label="Importer les choix (nb mensuel max)"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.Choix">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
 <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution6"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ExportCommandeAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.exportCommandeAction"
               label="Exporter la commande"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="mutualite.rh.chequedej.Commande">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution7"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ImportTempsTravailAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.importTempsTravailAction"
               label="Importer les temps de travail"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.Contrats">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution8"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.AddMissingCommandeItemsAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.addMissingCommandeItemsAction"
               label="Ajouter les items manquants"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Commande">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution9"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.SortItemsAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.sortItemsAction"
               label="Trier les items par nom"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Commande">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution10"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.SortSoldesAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.sortSoldesAction"
               label="Trier les items par nom"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Solde">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution11"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.SortDejesIndividuelsAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.sortDejesIndividuelsAction"
               label="Trier les dejes par nom"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.DejeMensuel">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution12"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.SortChoixAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.sortChoixAction"
               label="Trier les choix par nom"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Choix">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution13"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.SortContratsAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.sortContratsAction"
               label="Trier les contrats par nom"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Contrats">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution14"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ExportChoixAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.exportChoixAction"
               label="Exporter les choix"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.Choix">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution15"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ManualSoldeRegulationAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.manualSoldeRegulationAction"
               label="Régularisation manuelle"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.SoldeIndividuel">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution15"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.AddAvanceAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.addAvanceAction"
               label="Enregistrer une avance"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Solde">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
  <extension
         point="org.eclipse.ui.popupMenus">   
      <objectContribution
            id="fr.mutualite.rh.chequedej.model.contribution16"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.chequedej.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="mutualite.rh.chequedej.popup.actions.ExportHistoriqueSoldeAction"
               enablesFor="1"
               id="fr.mutualite.rh.chequedej.model.exportHistoriqueSoldeAction"
               label="Exporter l'historique des soldes"
               menubarPath="fr.mutualite.rh.chequedej.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="mutualite.rh.chequedej.Solde">
         		</objectClass>
         		<objectClass
                 name="mutualite.rh.chequedej.ChequeDej">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
