<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.mutualite.rh.conges.ApplicationSuivi">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.mutualite.rh.conges.application"
            name="conges-planning">
         <property
               name="appName"
               value="conges-planning">
         </property>
      </product>
   </extension>

</plugin>
