<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mut -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.mutualite.rh.model.presentation.MutModelWizardID"
            name="%_UI_MutModelWizard_label"
            class="fr.mutualite.rh.model.presentation.MutModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MutModelFile.gif">
         <description>%_UI_MutModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mut -->
      <editor
            id="fr.mutualite.rh.model.presentation.MutEditorID"
            name="%_UI_MutEditor_label"
            icon="icons/full/obj16/MutModelFile.gif"
            extensions="mut"
            class="fr.mutualite.rh.model.presentation.MutEditor"
            contributorClass="fr.mutualite.rh.model.presentation.MutActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mut -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.mutualite.rh.model.dto.presentation.DtoModelWizardID"
            name="%_UI_DtoModelWizard_label"
            class="fr.mutualite.rh.model.dto.presentation.DtoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DtoModelFile.gif">
         <description>%_UI_DtoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mut -->
      <editor
            id="fr.mutualite.rh.model.dto.presentation.DtoEditorID"
            name="%_UI_DtoEditor_label"
            icon="icons/full/obj16/DtoModelFile.gif"
            extensions="dto"
            class="fr.mutualite.rh.model.dto.presentation.DtoEditor"
            contributorClass="fr.mutualite.rh.model.dto.presentation.DtoActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated mut -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.mutualite.rh.model.config.presentation.ConfigModelWizardID"
            name="%_UI_ConfigModelWizard_label"
            class="fr.mutualite.rh.model.config.presentation.ConfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfigModelFile.gif">
         <description>%_UI_ConfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated mut -->
      <editor
            id="fr.mutualite.rh.model.config.presentation.ConfigEditorID"
            name="%_UI_ConfigEditor_label"
            icon="icons/full/obj16/ConfigModelFile.gif"
            extensions="config"
            class="fr.mutualite.rh.model.config.presentation.ConfigEditor"
            contributorClass="fr.mutualite.rh.model.config.presentation.ConfigActionBarContributor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.model.contribution1"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.ImportEtablissementsAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction"
               label="Importer les établissements"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="fr.mutualite.rh.model.Mutualite">
         		</objectClass>
         		<objectClass
                 name="fr.mutualite.rh.model.Etablissement">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution2"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.ImportSalariesExtendedAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction"
               label="Importer les salariés"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="fr.mutualite.rh.model.Mutualite">
         		</objectClass>
         		<objectClass
                 name="fr.mutualite.rh.model.Effectif">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
<!--   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.model.contribution2"
            objectClass="org.eclipse.emf.ecore.EObject">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.ImportSalariesAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction2"
               label="Importer les salariés"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
         <visibility>
         	<or>
         		<objectClass
                 name="fr.mutualite.rh.model.Mutualite">
         		</objectClass>
         		<objectClass
                 name="fr.mutualite.rh.model.Effectif">
         		</objectClass>
         	</or>
         </visibility>
      </objectContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="fr.mutualite.rh.model.contribution3"
            objectClass="fr.mutualite.rh.model.Mutualite">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.ImportFormationsAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction3"
               label="Importer les formations"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution4"
            objectClass="fr.mutualite.rh.model.Effectif">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.SortEffectifAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction4"
               label="Trier l'effectif par nom"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution5"
            objectClass="fr.mutualite.rh.model.Organismes">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.SortOrganismesAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction5"
               label="Trier les organismes par nom"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution6"
            objectClass="fr.mutualite.rh.model.Emplois">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.SortEmploisAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction6"
               label="Trier les emplois par nom"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution7"
            objectClass="fr.mutualite.rh.model.Etablissements">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.SortEtablissementsAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction7"
               label="Trier les établissements par nom"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution8"
            objectClass="fr.mutualite.rh.model.Mutualite">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.ExportMatriceEmployeFormationAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction8"
               label="Exporter les matrices employés/formations"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="fr.mutualite.rh.model.contribution9"
            objectClass="fr.mutualite.rh.model.Utilisateurs">
         <menu
               id="fr.mutualite.rh.model.menu1"
               label="Mutualite"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="fr.mutualite.rh.model.popup.actions.SortUsersAction"
               enablesFor="1"
               id="fr.mutualite.rh.model.newAction9"
               label="Trier les utilisateurs par nom de famille"
               menubarPath="fr.mutualite.rh.model.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
