body {
	background-color: #cacaca;
	margin: 0;
}

#data_container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 1280px; /* largeur obligatoire pour être centré */
}

.big-title {
	color: white; /*#e42760;*/
	background-color: transparent;
	font-size: 24px;
	font-weight: bold;
}

.cartouche-titre {
	font-weight: bolder;
}
.webix_inp_top_label {
	font-weight: bolder;
}
.webix_el_label {
	font-weight: bolder;
}
.webix_inp_label {
	font-weight: bolder;
}
button {
	font-weight: bolder;
}
/*
legend {
	font-weight: bolder;
	font-size: 128px;
}



.webix_segment_0 {
	background-color: #999999
}

.webix_segment_1 {
	background-color: #999999
}

.webix_segment_N {
	background-color: #999999
}
*/
.warning {
	color: #e42760;
	font-style: italic;
}

/* .webix_inp_textarea {
	color: navy;
}
.webix_el_textarea textarea {
	color : darkgreen;
} */
.webix_dt_editor input, .webix_cell, .webix_el_textarea textarea {
	color: #e42760;
}