body {
	background-color: #cacaca;
}

.big-title {
	color: white; /*#e42760;*/
	background-color: transparent;
	font-size: 24px;
	font-weight: bold;
}

.cartouche-titre {
	font-weight: bolder;
}

.warning {
	color: #e42760;
	font-style: italic;
}


.webix_dt_editor input,.webix_cell,.webix_el_textarea textarea {color:#e42760;}
.webix_dt_editor input,.webix_cell,.webix_el_textarea textarea {color:blue;}