<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated conges -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.mutualite.rh.conges.presentation.CongesModelWizardID"
            name="%_UI_CongesModelWizard_label"
            class="fr.mutualite.rh.conges.presentation.CongesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CongesModelFile.gif">
         <description>%_UI_CongesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated conges -->
      <editor
            id="fr.mutualite.rh.conges.presentation.CongesEditorID"
            name="%_UI_CongesEditor_label"
            icon="icons/full/obj16/CongesModelFile.gif"
            extensions="conges"
            class="fr.mutualite.rh.conges.presentation.CongesEditor"
            contributorClass="fr.mutualite.rh.conges.presentation.CongesActionBarContributor">
      </editor>
   </extension>

</plugin>
