<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
		  value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
	    <param name="append" value="false" />
	    <param name="maxFileSize" value="50MB" />
	    <param name="maxBackupIndex" value="10" />
	    <param name="file" value="/var/log/rh-gic/rh-gic.log" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern"
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>

  
    <category name="org.eclipse.jetty.util.log">  
        <priority value="WARN" />  
    </category> 
    <category name="org.glassfish.jersey.servlet.WebComponent">  
        <priority value="ERROR" />  
    </category> 
    <category name="org.glassfish.jersey.internal.Error">  
        <priority value="ERROR" />  
    </category> 
    <category name="fr.mutualite">  
        <priority value="DEBUG" />  
    </category> 
    <category name="mutualite">  
        <priority value="DEBUG" />  
    </category> 
    
    
    
	<root>
		<level value="ERROR" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	
	

</log4j:configuration>